# [作業目標]
- 使用 Day 12 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 12 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './Data/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [11]:
app_train['DAYS_EMPLOYED_ANOM_Freq'] = pd.cut(app_train['DAYS_EMPLOYED_ANOM'], 10)
app_train['DAYS_EMPLOYED_ANOM_Freq'].value_counts()

(-0.001, 0.1]    252137
(0.9, 1.0]        55374
(0.8, 0.9]            0
(0.7, 0.8]            0
(0.6, 0.7]            0
(0.5, 0.6]            0
(0.4, 0.5]            0
(0.3, 0.4]            0
(0.2, 0.3]            0
(0.1, 0.2]            0
Name: DAYS_EMPLOYED_ANOM_Freq, dtype: int64

In [16]:
app_train['DAYS_EMPLOYED_Freq'] = pd.cut(app_train['DAYS_EMPLOYED']/-365, 10)
app_train['DAYS_EMPLOYED_Freq'].value_counts()

(-0.0491, 4.907]    134392
(4.907, 9.815]       65188
(9.815, 14.722]      27932
(14.722, 19.63]      11382
(19.63, 24.537]       6563
(24.537, 29.444]      3387
(29.444, 34.352]      2027
(34.352, 39.259]       955
(39.259, 44.167]       261
(44.167, 49.074]        50
Name: DAYS_EMPLOYED_Freq, dtype: int64

In [31]:
dfapp = app_train.loc[app_train['TARGET']==1,['DAYS_BIRTH']]
dfapp['DAYS_BIRTH_Freq'] = pd.cut(dfapp['DAYS_BIRTH']/365, 10)
dfapp['DAYS_BIRTH_Freq'].value_counts()

(25.827, 30.619]    3835
(30.619, 35.411]    3818
(35.411, 40.203]    3679
(40.203, 44.995]    3105
(44.995, 49.786]    2508
(49.786, 54.578]    2249
(20.988, 25.827]    1855
(54.578, 59.37]     1798
(59.37, 64.162]     1453
(64.162, 68.953]     525
Name: DAYS_BIRTH_Freq, dtype: int64

In [32]:
dfapp = app_train.loc[app_train['TARGET']==0,['DAYS_BIRTH']]
dfapp['DAYS_BIRTH_Freq'] = pd.cut(dfapp['DAYS_BIRTH']/365, 10)
dfapp['DAYS_BIRTH_Freq'].value_counts()

(35.099, 39.959]    38022
(39.959, 44.819]    37163
(30.238, 35.099]    34514
(44.819, 49.679]    31757
(49.679, 54.54]     31266
(54.54, 59.4]       30824
(25.378, 30.238]    29437
(59.4, 64.26]       26219
(20.469, 25.378]    12010
(64.26, 69.121]     11474
Name: DAYS_BIRTH_Freq, dtype: int64